/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Google Font */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Navigation Bar */
/* 1rem = 16px (default font size) */
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	/* Creates a line to separate the nav and section */
	border-bottom: 1px solid gray;
}

/* Margin vs Padding */
/* Margin is best used when creating space between elements */
/* Padding is best used when creating space between element's border and its content */

nav .nav-logo, nav .nav {
	margin: 0.5rem;
	/*Change elements to inline elements*/
	display: inline;
}

#intro {
	/*Creates space between the contents of the intro section and its border*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button {
	font-weight: bold;
	background-color: #c2195d;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	color: white;
}

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	/* allows the cards to appear beside each other */
	display: inline-block;
	/* aligns elelements with the tallest element in line block */
	/* used with the inline-block value */
	vertical-align: top;
	/* allows for cards to have equal height that adjust with the content */
	min-height: 175px;
	width: 30%;
	/* create horizontal spacing */
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* Pre Footer */
#pre-footer{
	background-color: #002540;
	color: white;
	margin-bottom: 1rem;

}

#pre-footer div{
	display: inline-block;
	margin-left: 1rem;
	margin-right: 8rem;
	margin-top: 20px; 
	min-height: 90px;
}
